@import "tailwindcss";

@font-face {
  font-family: "Fira";
  src: url("/public/fonts/fira-code-latin-300-normal.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fira";
  src: url("/fonts/fira-code-latin-400-normal.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fira";
  src: url("/fonts/fira-code-latin-500-normal.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fira";
  src: url("/fonts/fira-code-latin-600-normal.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fira";
  src: url("/fonts/fira-code-latin-700-normal.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-theme-foreground: #90a1b9;
  --color-theme-background: #0f172b;
  --color-theme-backdrop: #020618;
  --color-theme-stroke: #314158;
  --color-heading-foreground: #f8fafc;

  --color-primary-inverted: #020618;
  --color-primary-background: #ffb86a;

  --color-indigo-500: #615fff;
  --color-rose-400: #ff637e;
  --color-teal-400: #00d5be;
  --color-teal-500: #00bba7;
  --color-link-foreground: #ffa1ad;
  --color-orange-300: #ffb86a;
  --color-slate-50: #f8fafc;
  --color-slate-500: #62748e;
  --color-slate-700: #314158;
  --color-slate-950: #020618;
  --color-purple-400: #c27aff;
}

body {
  font-family: "Fira", sans-serif;
  color: var(--color-theme-foreground);
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 999px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

html {
  scrollbar-width: thin;
}