---
import Sections from "../components/aboutme/Sections.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="flex-1 pt-14">
    <ul class="flex flex-col gap-1">
      <p class="text-heading-foreground p-6 text-sm">_sobre mí</p>
      <Sections />
    </ul>
    <p class="p-6">
      Soy Denilson Trujillo, un profesional apasionado por la tecnología y el
      desarrollo web. Desde pequeño me ha impulsado la curiosidad por entender
      cómo funcionan las cosas, lo que con el tiempo me llevó al mundo de la
      programación. Me defino como alguien con una fuerte motivación por
      aprender y explorar diversas áreas de la tecnología. Disfruto trabajar con
      nuevas herramientas y lenguajes, y aportar valor en cada proyecto.
      Actualmente, busco oportunidades como desarrollador web, con un enfoque
      especial en backend y en la creación de aplicaciones escalables y
      eficientes.
    </p>
  </main>
</Layout>
