---
import Sections from "../components/aboutme/Sections.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="flex-1 pt-14">
    <ul class="flex flex-col gap-1">
      <p class="text-heading-foreground p-6 text-sm">_about-me</p>
      <Sections />
    </ul>
    <p class="p-6">
      I have 5 years of experience in web development lorem ipsum dolor sit
      amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
      exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
      aute irure dolor in reprehenderit in. Duis aute irure dolor in
      reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
      pariatur. Excepteur sint occaecat officia deserunt mollit anim id est
      laborum.
    </p>
  </main>
</Layout>
