---
import MobileNav from "./MobileNav.astro";
---

<nav class="bg-theme-background fixed z-50 w-full">
  <div
    class="outline-theme-stroke relative flex items-center justify-between py-4 pr-4 pl-6 outline xl:justify-start xl:p-0"
  >
    <a
      href="/"
      class="text-theme-foreground xl:border-theme-stroke lg:w-60 xl:border-r xl:px-6 xl:py-4"
      >denilson-trujillo</a
    >
    <MobileNav />
    <ul class="hidden flex-1 xl:flex xl:items-baseline">
      <li class="border-theme-stroke grid h-14 place-content-center border-r">
        <a class="desktopLink px-8" href="/">_hello</a>
      </li>
      <li class="border-theme-stroke grid h-14 place-content-center border-r">
        <a class="desktopLink px-8" href="/experience">_experiencia</a>
      </li>
      <li class="border-theme-stroke grid h-14 place-content-center border-r">
        <a class="desktopLink px-8" href="/projects">_proyectos</a>
      </li>
      <li class="border-theme-stroke grid h-14 place-content-center border-r">
        <a class="desktopLink px-8" href="/about-me">_sobre-mi</a>
      </li>
      <li
        class="border-theme-stroke ml-auto grid h-14 place-content-center border-l"
      >
        <a class="desktopLink ml-auto px-8" href="/contact-me">_contáctame</a>
      </li>
    </ul>
  </div>
</nav>

<style>
  .nav-focus {
    border-bottom: 4px solid var(--color-primary-background);
  }
</style>

<script>
  const pathname = window.location.pathname;

  const navLinks = document.querySelectorAll(".desktopLink");
  navLinks.forEach((link) => {
    if (link.getAttribute("href") === pathname) {
      if (link.parentElement) {
        link.parentElement.classList.add("nav-focus");
      }
    } else {
      if (link.parentElement) {
        link.parentElement.classList.remove("nav-focus");
      }
    }
  });
</script>
