---
import MobileNav from "./MobileNav.astro";
---

<nav class="bg-theme-background fixed z-50 w-full">
  <div
    class="outline-theme-stroke relative flex items-center justify-between py-4 pr-4 pl-6 outline xl:justify-start xl:p-0"
  >
    <a
      href="/"
      class="text-theme-foreground xl:outline-theme-stroke xl:w-80 xl:px-6 xl:py-4 xl:outline"
      >denilson-trujillo</a
    >
    <MobileNav />
    <ul class="hidden w-full xl:flex xl:items-baseline">
      <li
        class="outline-theme-stroke nav-focus grid h-14 place-content-center outline"
      >
        <a class="px-8 py-4" href="/">_hello</a>
      </li>
      <li class="outline-theme-stroke grid h-14 place-content-center outline">
        <a class="px-8 py-4" href="/experience">_experiencia</a>
      </li>
      <li class="outline-theme-stroke grid h-14 place-content-center outline">
        <a class="px-8 py-4" href="/projects">_proyectos</a>
      </li>
      <li class="outline-theme-stroke grid h-14 place-content-center outline">
        <a class="px-8 py-4" href="/about-me">_sobre-mi</a>
      </li>
      <li
        class="outline-theme-stroke ml-auto grid h-14 place-content-center outline"
      >
        <a class="ml-auto px-8 py-4" href="/contact-me">_contáctame</a>
      </li>
    </ul>
  </div>
</nav>

<style>
  .nav-focus {
    border-bottom: 4px solid var(--color-primary-background);
  }
</style>
